@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

$color-primary: rgb(29, 161, 242);
$color-grey-1: rgb(217, 217, 217);
$color-grey-2: rgb(110, 118, 125);
$color-grey-3: rgb(47, 51, 54);
$color-text: rgb(217, 217, 217);
$font-standard: "Open Sans";

$color-background: rgb(0, 0, 0);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $color-text;
  background-color: $color-background;
}

.container {
  width: 100vw;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid $color-grey-3;
  background-color: $color-background;

  &__profile {
    margin-left: 0.5rem;
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  &__section {
    margin-left: 1.5rem;
    font-family: $font-standard;
    font-size: 1.2rem;
    font-weight: 900;
    color: inherit;
  }

  &__img > * {
    border-radius: 50%;
    height: 2.3rem;
  }

  &__magic svg {
    height: 1.5rem;
    margin-right: 0.5rem;
  }
}

.content {
  &__post {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 6fr;
    border: 1px solid $color-grey-3;
  }

  &__profile {
    grid-column: 1;
    > img {
      height: 3rem;
      border-radius: 50%;
    }
  }

  &__copy {
    grid-column: 2;
    padding: 0 0rem 0.8rem 0.8rem;
    display: flex;
    flex-flow: column;
    font-family: $font-standard;
  }

  &__poster {
    display: flex;
    flex-flow: row;
    overflow: hidden;

    > * {
      padding-right: 2px;
      overflow: hidden;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 1rem;
    flex: 1 11rem;
  }

  &__verification,
  &__options,
  &__icon {
    display: flex;
    align-items: center;

    svg {
      height: 1.2rem;
    }
  }

  &__handle {
    color: $color-grey-2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__text {
    margin-top: 4px;
  }

  &__image img {
    width: 95%;
    margin-top: 1rem;
    border-radius: 1rem;
  }

  &__list {
    list-style: none;
    margin-top: 0.7rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    > * {
      display: flex;
      flex-flow: row;
      color: $color-grey-2;
      font-size: 0.8rem;
      svg {
        margin-right: 0.8rem;
      }
    }
  }
}

.nav {
  position: fixed;
  padding: 0.5rem;
  bottom: 0;
  left: 0;
  flex-flow: row;
  width: 100%;
  background-color: $color-background;
  border-top: 1px solid $color-grey-3;

  &__list {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    list-style: none;
  }

  .nav__element svg {
    height: 1.7rem;
  }
}
